{% extends "shared/base.html"%} {% block body%}
<div class="container">
  <form
    method="post"
    action='{% url "webapp:save_data"%}'
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div class="row mt-5">
      <div class="col paper p-5 shadow">
        <div class="row">
          <div class="col text-center">
            {% if user_profile.logo_image.url %}

            <img
              src="{{user_profile.logo_image.url}}"
              alt="Uploaded Logo"
              id="edited_logo"
              class="mt-4"
              width="300"
              height="200"
            />
            <label
              for="logo_edit"
              class="logo_edit_label text-center rounded-3 border border-2"
              >Edit logo</label
            >
            <input
              type="file"
              id="logo_edit"
              name="logo_image"
              value="{{user_profile.logo_image}}"
            />

            {% else %}
            <label
              for="logo_upload"
              class="logo_upload_label text-center rounded-3"
              ><img
                src="https://cdn2.iconfinder.com/data/icons/instagram-ui/48/jee-80-512.png"
                width="100"
                height="100"
                class="mt-4"
              /><br />Upload Logo</label
            >
            <input type="file" id="logo_upload" name="logo_image" />
            <img
              id="uploaded_logo"
              src="{{user_profile.logo_image.url}}"
              alt="Uploaded Logo"
              class="mt-4"
            />

            {% endif%}
          </div>
          <div class="col">
            <p>
              <input
                type="text"
                class="rounded-2 border border-2"
                placeholder="Company Name"
                name="company_name"
                value="{{ user_profile.company_name}}"
                required
              />
            </p>
            <p>
              <input
                type="email"
                class="rounded-2 border border-2"
                placeholder="Email"
                value="{{ user_profile.email}}"
                name="email"
              />
            </p>
            <p>
              <input
                type="number"
                class="rounded-2 border border-2"
                placeholder="Phone Number"
                name="phone_no"
                value="{{ user_profile.phone_no}}"
                required
              />
            </p>
            <p>
              <input
                type="text"
                class="rounded-2 border border-2"
                placeholder="Address"
                value="{{ user_profile.address}}"
                name="address"
              />
            </p>
            <p>
              <input
                type="text"
                class="rounded-2 border border-2"
                placeholder="City, State"
                value="{{ user_profile.city}}"
                name="city"
              />
            </p>
          </div>
          <div class="col">
            <p>
              <input
                type="text"
                class="rounded-2 border border-2 text-center"
                value="Receipt"
                name=""
              />
            </p>
            <p>
              <input
                type="text"
                class="rounded-2 border border-2 text-center"
                placeholder="Number"
                value="INV0001"
                name=""
              />
            </p>
            <p>
              <input
                type="date"
                class="rounded-2 border border-2 text-center"
                id="dateInput"
                name=""
              />
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p><b>Received From:</b></p>
            <p>
              <input
                type="text"
                class="rounded-2 border border-2"
                placeholder="Recipient Name"
                name="recipient_name"
              />
            </p>
            <p>
              <input
                type="number"
                class="rounded-2 border border-2"
                placeholder="Recipient Phone No"
                name="recipient_phone"
              />
            </p>
          </div>
          <div class="col">
            <p><b>Amount Received:</b></p>
            <p>
              <input
                type="number"
                class="rounded-2 border border-2"
                placeholder="Amount"
                name="amount"
              />
            </p>
          </div>
          <div class="col">
            <p><b>Payment Mode:</b></p>
            <p>
              <select
                class="rounded-2 border border-2"
                id="paymentMode"
                name=""
              >
                <option value="Bank Transfer">Bank Transfer</option>
                <option value="cash">Cash</option>
              </select>
            </p>
            <p>
              <input
                type="number"
                class="rounded-2 border border-2"
                placeholder="Journal Number"
                id="journalNumber"
                name="Journal_no"
              />
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="table-responsive">
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <td>
                      <button id="addRowButton" class="btn btn-primary">
                        +</button
                      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Description
                    </td>
                    <td>Rate</td>
                    <td>Quantity</td>
                    <td>Amount</td>
                  </tr>
                </thead>
                <tbody>
                  <tr class="data-row">
                    <td>
                      <input
                        type="text"
                        class="rounded-2 border border-2"
                        name="description"
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        class="rounded-2 border border-2 rate-input"
                        name="rate"
                        id="rate"
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        class="rounded-2 border border-2 quantity-input"
                        style="width: 60px"
                        name="quantity"
                        id="quantity"
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        class="rounded-2 border border-2"
                        style="width: 60px"
                        name="cost_amount"
                        id="cost_amount"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2"></td>
                    <td>Total Amount</td>
                    <td><p id="totalAmount"></p></td>
                  </tr>
                  <tr>
                    <td colspan="2"></td>
                    <td>Total Amount Paid</td>
                    <td><p id="totalAmountpaid"></p></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col" id="sign_id">
            Signature:
            <span>
              <button
                id="openModalButton"
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#signatureModal"
              >
                Sign here
              </button></span
            >
            <p>
              {% if user_profile.manual_signature_image %}
              <img
                id="signatureImageEdit"
                src="{{ user_profile.manual_signature_image}}"
                class="mt-4"
              /><br />
              <button
                class="btn btn-secondary"
                id="clear_button_outside"
                style="display: block"
              >
                Clear
              </button>
              <input
                type="hidden"
                value="{{ user_profile.manual_signature_image}}"
                id="SignImage"
                name="manual_signature_image"
              />

              {% else%}
              <img
                id="signatureImage"
                src="{{ user_profile.manual_signature_image}}"
                class="mt-4"
              /><br />
              <button
                class="btn btn-secondary"
                id="clear_button_outside"
                style="display: none"
              >
                Clear
              </button>
              <input
                type="hidden"
                value=""
                id="SignImage"
                name="manual_signature_image"
              />

              {% endif %}
            </p>
          </div>
        </div>
        <!-- Signature Modal -->
        <div
          class="modal fade"
          id="signatureModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Signature</h5>
                <button
                  type="button"
                  class="close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body text-center">
                <canvas
                  id="signatureCanvas"
                  width="400"
                  height="200"
                  class="border border-2"
                ></canvas>
                <button id="clearButton" class="btn btn-secondary">
                  Clear
                </button>
                <button id="saveButton" class="btn btn-primary">Save</button>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-2 text-center">OR</div>
        </div>
        <div class="row mt-5">
          <div class="col">
            {% if user_profile.signature_image %}

            <img
              id="edited_signature"
              src="{{ user_profile.signature_image.url}}"
              alt="Uploaded signature"
              class="mt-4"
              width="200"
              height="100"
            /><br />
            <label
              for="signature_edit"
              class="signature_edit_label text-center rounded-3 border border-1"
              >Edit Signature</label
            >
            <input
              type="file"
              id="signature_edit"
              style="visibility: hidden"
              name="signature_image"
            />
            {% else%}

            <label
              for="signature_upload"
              class="signature_upload_label text-center rounded-3"
              ><img
                src="https://cdn2.iconfinder.com/data/icons/instagram-ui/48/jee-80-512.png"
                width="100"
                height="100"
                class="mt-4"
              /><br />Upload Signature</label
            >
            <input
              type="file"
              id="signature_upload"
              style="visibility: hidden"
              name="signature_image"
            />
            <img
              id="uploaded_signature"
              src=""
              alt="Uploaded signature"
              class="mt-4"
            />

            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4 mb-5">
      <div class="col">
        <button type="submit" class="btn btn-primary">Generate Receipt</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
