<!DOCTYPE html>
<html>
  <head>
    <title>Receipt</title>

    <style>
      body {
          font-family: "Times New Roman", Times, serif;
          font-size: 14px;
      }
      .profile {
        padding-left: 10px;
      }
      .header_receipt {
        padding-left: 60px;
      }
      .tables {
        margin-top: 40px;
      }
      #logo{
        border-radius: 25px;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <td rowspan="5">
          {% if profile.logo_image%}
          <img
            src="data:image/png;base64,{{profile.logo_image}}"
            alt="Uploaded Logo"
            id="logo"
            class="mt-4"
            width="300"
            height="200"
          />
          {% else %}
            No Logo
          {% endif %}
        </td>
        <td class="profile">{{profile.company_name}}</td>
        <td class="header_receipt">{{receipt.receipt_name}}</td>
      </tr>
      <tr>
        <td class="profile">{{profile.email}}</td>
        <td class="header_receipt">REC{{receipt.id}}</td>
      </tr>
      <tr>
        <td class="profile">+975-{{profile.phone_no}}</td>
        <td class="header_receipt">{{receipt.date}}</td>
      </tr>
      <tr>
        <td class="profile">{{profile.address}}</td>
      </tr>
      <tr>
        <td class="profile">{{profile.city}}</td>
      </tr>
    </table>
    <div class="row">
      <div class="col">
        <hr />
      </div>
    </div>

    <table class="tables">
      <tr>
        <td><b>Received From:</b></td>
        <td><b>Amount Received:</b></td>
        <td><b>Payment Mode:</b></td>
      </tr>
      <tr>
        <td class="profile">{{receipt.recipient_name}}</td>
        <td class="profile">{{receipt.amount}}/-</td>
        {% if receipt.Journal_no%}
        <td class="profile">Bank Transfer</td>
        {% else%}
        <td class="profile">Cash</td>
        {% endif%}
      </tr>
      <tr>
        <td class="profile">+975-{{receipt.recipient_phone}}</td>
        <td></td>
        {% if receipt.Journal_no%}
        <td class="profile">{{receipt.Journal_no}}</td>
        {% endif%}
      </tr>
    </table>
    <div class="row">
      <div class="col">
        <hr />
      </div>
    </div>

    <table border="1" cellpadding="9" class="tables">
      <thead>
        <tr>
          <th>Description</th>
          <th>Rate</th>
          <th>Quantity</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        {% for service in services%}
        <tr class="data-row">
          <td>{{service.description}}</td>
          <td>{{service.rate}}</td>
          <td>{{service.quantity}}</td>
          <td>{{service.amount}}</td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="2"></td>
          <td>Total Amount:</td>
          <td><p id="totalAmount">{{receipt.total_amount}}</p></td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td>Total Amount Paid:</td>
          <td><p id="totalAmountpaid">{{receipt.total_amount}}</p></td>
        </tr>
      </tbody>
    </table>

    <table class="tables">
      <tr>
        <td>Signature</td>
      </tr>
      <tr>
        <td>
           <img
              id="manual_signatureImage"
              src="{{ profile.manual_signature_image}}"
              class="mt-4"
              height="70"
            />

         <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{profile.title}}</p>
          {% if profile.signature_image %}
          <img
            id="signatureImage"
            src="data:image/png;base64,{{profile.signature_image}}"
            height="100"
          />
          {% endif %}

        </td>
      </tr>
      <tr>
        <td>

        </td>
      </tr>
    </table>
  </body>
</html>
