{% extends "shared/base.html"%} {% block body%}
<div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <form action="{% url 'webapp:view_receipts' %}" method="GET" class="row justify-content-center">
                {% csrf_token %}
             <div class="col-md-4 mb-3">
              <label for="year">Year:</label>
              <input type="text" class="form-control yearpicker" id="year" name="year"/>
            </div>
            <div class="col-md-4 mb-3">
              <label for="Month">Month:</label>
            <select class="form-control" id="Month" name="month">
                <option value="">Select Month</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            </div>

            <div class="col-4 mt-3">
              <button
                class="btn btn-primary col-12"
                type="submit"
                id="filterButton"
              >
                Search
              </button>
            </div>
          </form>
        </div>
      </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Received From</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Payment Method</th>
          <th scope="col">Journal Number</th>
          <th scope="col">Amount</th>
          <th scope="col">Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for receipts in user_receipts%}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ receipts.recipient_name}}</td>
          <td>{{ receipts.recipient_phone}}</td>

          {% if receipts.Journal_no%}
          <td>Bank Transfer</td>
          {% else%}
          <td>Cash</td>
          {% endif %}
          <td>{{ receipts.Journal_no}}</td>
          <td>{{ receipts.amount}}</td>
          <td>{{ receipts.date}}</td>
          <td>
            <a
              href="{% url 'webapp:generate_individual_receipt' id=receipts.id %}"
              id="{{ receipts.id }}"
              class="btn btn-primary"
              target="_blank"
              >Generate Receipt</a
            >
          </td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="4"></td>
          <td><strong>Total Amount:</strong></td>
          <td><strong>Nu. {{ total_amount }}</strong></td>
          <td colspan="2"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="pagination justify-content-center mt-3">
  <ul class="pagination">
    {% if user_receipts.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page=1">&laquo; First</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ user_receipts.previous_page_number }}"
        >Previous</a
      >
    </li>
    {% endif %}

    <li class="page-item disabled">
      <span class="page-link">
        Page {{ user_receipts.number }} of {{user_receipts.paginator.num_pages}}
      </span>
    </li>

    {% if user_receipts.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ user_receipts.next_page_number }}"
        >Next</a
      >
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ user_receipts.paginator.num_pages }}"
        >Last &raquo;</a
      >
    </li>
    {% endif %}
  </ul>
</div>

{% endblock %}
