body {
  background-color: #e2e6e6;
  font-family: Trebuchet MS, Helvetica, sans-serif;

}

.paper {
  background-color: #ffffff;
}

#logo_upload {
  visibility: hidden;
}

.navbar {
  background-color: #fa7946;
  height: 75px;
}
#navbarNavDropdown {
  background-color: #fa7946;
}

.nav-link {
  color: #f7f0f0;
  font-size: 20px;
}

.logo_upload_label,
.signature_upload_label {
  background-color: #e2e6e6;
  min-width: 300px;
  min-height: 200px;
}

#uploaded_logo,
#uploaded_signature,
#logo_edit {
  display: none;
  min-width: 300px;
  height: 200px;
}

#signatureImage {
  display: none;
}

#validationModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
}
